body{
    font-family:"Special Gothic Expanded One", sans-serif;
}

h1{
    font-family: 'Franklin Gothic Medium';
    text-align: center;
}

p{
    text-align: center;
    font-size: large;
}
#game{
    border: 7px solid black;
    padding: 10px;
    margin: 30px;
}
#movie{
    border: 7px solid purple;
    margin: 100px;

}
